@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}


*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body,
html{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    font-style: normal;
    background-color: #0E53A7;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
}

.container{
    max-width: 1440px;
    width: 100%;
}

.container__page{
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    align-items: start;
}

.back__link a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FF9200;
}
.back__link a>img{
    z-index: 2;
}
.back__link a::after{
    content: "";
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
    position: absolute;
}
.back__link a:hover::after{
    width: 50px;
    height: 50px;
}

.wrapper{
    width: 100%;
    padding: 50px 0;
    min-height: 100vh;
    padding: 20px 0;
    height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E53A7;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: relative;
    height: 100%;
}

.back__img{
    position: absolute;
    left: 25px;
}

.back__img img{
    display: flex;
    width: 100%;
    height: 100%;
}

.main__title{
    position: absolute;
    z-index: 2;
    margin-bottom: 22rem;
    right: 40px;
}

.main__title h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}

.main__navigation{
    position: absolute;
    z-index: 2;
    margin-top: 35rem;
    margin-left: 18rem;
}

.navigation__list{
    display: flex;
}

.navigation__item{
    margin: 0 25px;
    padding: 36px 0;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 250px;
    margin-bottom: 20px;
}

.item__img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9200;
    margin: 0 auto;
}

.item__title{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.item__title p{
    color: #000;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    display: flex;
    height: 25px;
}

.item__link{
    display: flex;
    margin: 0 auto;
}

.item__link a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0E53A7;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #0E53A7;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.item__link a::before{
    content: "";
    border: 2px solid hsla(213, 85%, 35%, 20%);
    border-radius: 20px;
    position: absolute;
    width: 95px;
    height: 29px;
    margin-left: 8px;
    margin-top: 7px;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}

.item__link a::after{
    content: "Перейти";
    width: 0;
    height: 0;
    background-color: #0E53A7;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    z-index: 2;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__link a:hover::after{
    width: 95px;
    height: 29px;
    visibility: visible;
    opacity: 1;
}
.item__link a:hover::before{
    visibility: hidden;
    opacity: 0;
}

.title__page{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.title__text h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 48px;
    margin-left: 21px;
}

.event-c__container{
    width: 100%;
}

.event-c__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-c__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 325px;
    height: 265px;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 10px;
    transition: 0.4s;
}
.event-c__item h2{
    color: #FF9200;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;
}
.event-c__item p{
    color: #0E53A7;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;
}
.event-c__item .event-c__name{
    color: #0E53A7;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
    height: 116px;
    display: flex;
    align-items: center;
}

.event__container{
    display: flex;
}

.event__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 970px;
    position: relative;
}

.event__item{
    border-radius: 20px;
    display: flex;
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.e-i__body{
    background-color: #fff;
    padding-top: 33px;
    padding-left: 33px;
    padding-bottom: 33px;
    padding-right: 43px;
    max-width: 600px;
    width: 100%;
    color: #000;
    height: 100%;
}

.e-i__body .date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #0E53A7;
}

.e-i__body h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FF9200;
    margin: 33px 0;
}

.e-i__body p{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #0E53A7;
}

.e-i__body a{
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #FF9200;
    margin-top: 16px;
    display: flex;
}

.e-i__img img{
    max-width: 374px;
    height: 100%;
}

.n-e__list{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 345px;
    padding: 25px 0;
    margin: 15px 0;
    border-radius: 20px;
    margin-left: 45px;
    position: fixed;
}

.n-e__item a{
    display: flex;
    flex-direction: column;
    padding: 8px 25px;
    justify-content: space-around;
    transition: 0.3s;
}
.n-e__item a:hover{
    background-color: hsla(213, 85%, 35%, 15%);
}

.n-e__item a>.n-e__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FF9200;
    margin-bottom: 10px;
}

.n-e__item a>span{
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: #0E53A7;
}

.container__adapt{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.adapt__block{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}

.adapt__block h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 26px;
    text-align: center;
    border-bottom: 3px solid #FF9200;
    margin: 10px;
    font-family: 900;
}

.adapt__block p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    font-size: 18px; 
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 300;
    background-color: #0a3974;
    margin: 5px 0;
}

.adapt__block ul{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    font-size: 20px; 
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 auto;
}

.adapt__block ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9200;
    color: #fff;
    padding: 10px;
    margin: 15px 0;
    border-radius: 15px;
    text-align: center;
}

.adapt__block ol{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    padding-left: 70px;
    font-size: 20px; 
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 500;
    margin: 0 auto;
    counter-reset: num;
}

.adapt__block ol li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    margin: 15px 0;
    border-radius: 15px;
    position: relative;
}

.adapt__block ol li::before{
    content: counter(num);
    counter-increment: num;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px !important;
    height: 60px !important;
    background-color: #FF9200;
    border-radius: 50%;
    position: absolute;
    left: -80px;
}

.container__practic{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: start;
    flex-wrap: wrap;
}

.container__practic details{
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
}

.container__practic summary{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
    align-items: center;

    color: #fff;
    transition: 0.4s;
}

.container__practic summary span{
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 30px;

    transition: 0.4s;
}

.container__practic summary:hover{
    color: #FF9200;
}

.container__practic summary:hover span{
    background-color: #FF9200;
}

.container__practic details[open] summary{
    color: #FF9200;
}
.container__practic details[open] summary span{
    background-color: #FF9200;
}

.container__practic nav{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.container__practic nav a{
    margin: 10px 0;
    font-size: 16px;

    transition: color 0.4s;
}
.container__practic nav a:hover{
    color: #FF9200;
}